<mat-toolbar color="primary" class="toolbar" *ngIf="this.isLoggedIn">
  <button mat-icon-button (click)="toggleSidenav()" aria-label="Example icon-button with menu icon">
    <mat-icon>menu</mat-icon>
  </button>
  <span>My App</span>
  <span class="spacer"></span>
  <button mat-icon-button aria-label="Example icon-button with share icon">
    <mat-icon>share</mat-icon>
  </button>
  <button mat-icon-button aria-label="Example icon-button with heart icon">
    <mat-icon>favorite</mat-icon>
    <span *ngIf="favoriteCount > 0" class="badge">{{ favoriteCount }}</span>
  </button>
  <button mat-icon-button aria-label="Example icon-button with heart icon">
    <mat-icon>shopping_cart</mat-icon>
    <span *ngIf="cartCount > 0" class="badge">{{ cartCount }}</span>
  </button>
  <button mat-icon-button aria-label="Example icon-button with heart icon" (click) ="logout()">
    <mat-icon>login</mat-icon>
  </button>
</mat-toolbar>

<mat-sidenav-container class="sidenav-container">
  <mat-sidenav #sidenav mode="side" position="start" [(opened)]="opened" class="sidenav" *ngIf="this.isLoggedIn">
    <mat-nav-list>
      <a mat-list-item routerLink="deals">
        <img src="/assets/images/deal.ico" alt="Deals Icon" class="custom-icon" />
        <span>Deals</span>
      </a>
      <a mat-list-item href="/about">
        <mat-icon class="custom-icon">info</mat-icon>
        <span>About</span>
      </a>
    </mat-nav-list>
  </mat-sidenav>
  <mat-sidenav-content>
    <div class="content">
      <router-outlet></router-outlet>
    </div>
  </mat-sidenav-content>
</mat-sidenav-container>

