/* Full-height layout for the sidenav container */
.sidenav-container {
  height: 100vh;
  display: flex;
  flex-direction: column;
}


/* Spacer for toolbar alignment */
.spacer {
  flex: 1 1 auto;
}

/* Sidenav styles */
.sidenav {
  width: 250px;
  background-color: #f4f4f4;
}

mat-nav-list a:hover {
  background-color: #e0e0e0;
  border-radius: 4px;
}

mat-nav-list a mat-icon {
  margin-right: 10px;
}

.custom-icon {
  width: 1.7rem;
  height: 1.7rem;
  margin-right: 8px;
  vertical-align: middle;
}
