@media (max-width: 768px){
  .filter-item{
    width: 40%;
  }
}
.filter-item{
  padding-right: 10px;
  width: 240px;
}

.clear-btn {
  margin-bottom: 10px;
  z-index: 9999;
}

.clear-btn:hover {
  transition: all 0.3s ease;
}

.large-icon-button {
  width: 56px; /* Adjust button size */
  height: 56px;
}
.mat-icon{
  height: 24px !important;
  width: 24px !important;
  padding: 0;
  // overflow: visible !important;
}

.mat-toolbar.mat-primary{
  padding: 10px;
}
