@media (max-width: 768px){
  .filter-item{
    width: 40%;
  }
}
.filter-item{
  padding-right: 20px;
}
/* Hover effect for button */
.clear-btn:hover {
  background-color: #ff4081; /* Accent color for hover effect */
  color: white;
  transition: all 0.3s ease;
}
// .large-icon {
//   font-size: 36px; /* Adjust icon size */
// }

.large-icon-button {
  width: 56px; /* Adjust button size */
  height: 56px;
}
.mat-icon{
  height: 24px !important;
  width: 24px !important;
  padding: 0;
  // overflow: visible !important;
}
