.idea/shelf/Uncommitted_changes_before_Update_at_12_2_2024_11_45_AM__Changes_.xml
.idea/shelf/Uncommitted_changes_before_Update_at_12_2_2024_11_47_AM__Changes_.xml
.idea/shelf/Uncommitted_changes_before_Update_at_12_2_2024_11_45_AM_\[Changes]/shelved.patch
.idea/shelf/Uncommitted_changes_before_Update_at_12_2_2024_11_47_AM_\[Changes]/shelved.patch
.idea/misc.xml
.idea/vcs.xml
.idea/workspace.xml
node_modules
