@media (max-width: 768px){
.filter-item{
  width: 40%;
}
}
.filter-item{
  margin-left: 20px;
}
/* Hover effect for button */
.clear-btn:hover {
  background-color: #ff4081; /* Accent color for hover effect */
  color: white;
  transition: all 0.3s ease;
}

.clear-btn {
  vertical-align: middle;
  margin-left: 20px;/* Aligns button with text fields */
  padding: 0; /* Remove extra padding */
  margin-top: 0; /* Adjust margin if needed */
  margin-bottom: 0;
}

.filter-bar{
  padding-bottom: 15px;
}
