<mat-card class="product-card" (click)="navigateToDetails()">
  <img mat-card-image [src]="product.imageUrl" [alt]="product.name" />
  <mat-card-content>
    <h3 class="product-title">{{ product.name }}</h3>
    <div class="rating">
      <mat-icon *ngFor="let star of getStars(product.rating)">star</mat-icon>
    </div>
    <div class="price-info">
      <span class="price">₹{{ product.getDiscountedPrice() }}</span>
      <div *ngIf="product.discountPercentage">
      <span class="original-price">₹{{ product.originalPrice }}</span>
      <span class="discount">
        ({{ product.discountPercentage }}% off)
      </span>
    </div>
    </div>
  </mat-card-content>
  <mat-card-actions class="custom-actions">
    <button mat-raised-button color="primary" class="buy-now" (click)="buyNow($event)">
      Buy Now
    </button>
    <button mat-button color="accent" class="icon-button fav-btn" (click)="toggleFavorite($event)">
      <mat-icon class="icon">favorite</mat-icon>
    </button>
    <button mat-button color="accent" class="icon-button" (click)="addToCart($event)">
      <mat-icon class="icon">add_shopping_cart</mat-icon>
    </button>
  </mat-card-actions>
</mat-card>