


.product-card {
  max-width: 250px;
  margin: 10px 10px 10px 20px;
  border-radius: 8px;
  overflow: hidden;
  box-shadow: 0px 4px 8px rgba(0, 0, 0, 0.1);
  @media only screen and (max-width: 480px) {
  margin: 5px 5px 5px 10px;
  }
}

.product-card img {
  height: 150px;
  object-fit: cover;
}

.product-card .product-title {
  font-size: 1.2rem;
  font-weight: bold;
  margin: 8px 0;
  @media only screen and (max-width: 480px) {
    font-size: 1rem;
    margin: 4px 0;
    }
}

.rating {
  color: #ffc107; /* Yellow for stars */
  margin-bottom: 8px;
}

.price-info {
  display: flex;
  align-items: baseline;
  gap: 8px;
  @media only screen and (max-width: 480px) {
    font-size: 1rem;
    margin: 4px 0;
    }
}

.price {
  font-size: 1.4rem;
  font-weight: bold;
  color: #2e7d32; /* Green for discounted price */
  @media only screen and (max-width: 480px) {
    font-size: 1rem;
    }
}

.original-price {
  text-decoration: line-through;
  color: #757575; /* Grey for original price */
}

.discount {
  color: #d32f2f; /* Red for discount percentage */
  font-weight: bold;
}

mat-card-actions {
  display: flex;
  justify-content: space-between;
  margin-top: 16px;
  @media only screen and (max-width: 480px) {
    margin-top: 0px;
    }
}

