.product-card {
  max-width: 250px;
  margin: 5px 5px 5px 5px;
  overflow: hidden;
  box-shadow: 0px 4px 8px rgba(0, 0, 0, 0.1);
  @media only screen and (max-width: 480px) {
  margin: 5px 5px 5px 5px;
  }
}

.product-card img {
  height: 150px;
  object-fit: cover;
}

.product-card .product-title {
  font-size: 1.2rem;
  font-weight: bold;
  margin: 8px 0;
  @media only screen and (max-width: 480px) {
    font-size: 1rem;
    margin: 4px 0;
    }
}

.rating {
  color: #ffc107; /* Yellow for stars */
  margin-bottom: 8px;
}

.price-info {
  display: flex;
  align-items: baseline;
  gap: 8px;
  @media only screen and (max-width: 480px) {
    font-size: 0.9rem;
    margin: 4px 0;
    }
}

.price {
  font-size: 1.4rem;
  font-weight: bold;
  color: #333; /* Green for discounted price */
  @media only screen and (max-width: 480px) {
    font-size: 1rem;
    }
}

.original-price {
  text-decoration: line-through;
  color: #757575; /* Grey for original price */
}

.discount {
  background: #4CAF50;
  color: white;
  padding: 0.25rem 0.5rem;
  border-radius: 4px;
  font-size: 0.9rem;
}

mat-card-actions {
  display: flex;
  justify-content: space-between;
  margin-top: 16px;
  @media only screen and (max-width: 480px) {
    margin-top: 0px;
    }
}

button{
  @media only screen and (max-width: 480px) {
  font-size: 0.8rem;
  }
}
.buy-now {
  flex-grow: 1;
  margin: 0;
  padding: 0 10px 0 10px;
}

.icon-button {
  padding: 0;
  min-width: 40px;
}

.fav-btn{
  margin-left: 5px;
}

.icon{
  margin: 0 !important; 
}
